:root {
	--bg-color: #deded9;
	--primary-text-color: #003243;
	--secondary-text-color: #ffffff;

	--bg-color-dark: #1e1e1e;
	--primary-text-color-dark: #e2e2e2;
	--secondary-text-color-dark: #739fad;

	--btn-xtra-color-dark: rgba(255, 255, 255, 0.1);

	--btn-primary-color: #ff4400;
	--btn-primary-color-hover: #eb4306;
	--btn-secondary-color: #003243;
	--btn-secondary-color-hover: #00212e;
	--btn-xtra-color: rgba(0, 50, 67, 0.2);

	--btn-text-color-dark: #ffffff;
	--btn-text-color-dark-invert: #003243;

	--btn-primary-color-dark: #ff5a2f;
	--btn-primary-color-dark-hover: #ff3e14;
	--btn-secondary-color-dark: #2a8a99;
	--btn-secondary-color-dark-hover: #1d6c7a;

	--shadow-soft: 0 0px 10px rgba(0, 0, 0, 0.2);
	--shadow-hover: 0 0px 14px rgba(0, 0, 0, 0.4);

	--font-size-html: 15px;
	--font-family: "Roboto", "Poppins", Helvetica, "bodyfont", "doggyfont", "cattyfont", "bunnyfont", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	/* font-weight queda pendiente de aplicar */
	--font-weight-bold: 800;
	--font-weight-normal: 500;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 12px;
	--spacing-lg: 16px;
	--spacing-2xl: 36px;
	--spacing-4xl: 60px;

	--border-radius-card: 4px;

	--container-width: 90%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: var(--font-family);
}

html {
	scroll-behavior: smooth;
	font-size: var(--font-size-html);
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

html,
body {
	font-family: "Roboto", "Poppins", Helvetica, "bodyfont", "doggyfont", "cattyfont", "bunnyfont", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-weight: var(--font-weight-bold);
}

p,
a,
small,
span {
	font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
body,
span,
small,
button {
	margin: 0;
	padding: 0;
	color: var(--primary-text-color);
}

ul {
	list-style-type: none;
}

input,
textarea {
	color: var(--primary-text-color);
}

input,
textarea,
select {
	outline: none;
	padding: var(--spacing-xs);
	border: none;
}

select {
	color: #888;
}

select > option[disabled] {
	color: #888;
}

button {
	background: none;
	border: none;
	padding: none;
	background-color: transparent;
}
